# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
Assets/Packages/UnityVS/
*.DotSettings
Assets/Packages/UnityVS.meta
Assets/UnityVS/
Assets/UnityVS.meta

# ME GENERATED
.ssh/
*.~lock.*
dist/*
Input/Images/Foregrounds/*.*
Input/Images/Backgrounds/*.*
Output/*.*
Input/Fonts/*.*
